/*----color:a71d31----*/
.header {
  text-align: center;
}
.bg-navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.nav-link:hover {
  color: #dc3545 !important;
}
.nav-link {
  font-family: "Noto Sans KR";
  font-weight: 500;
}
.restaurant-card-button:hover {
  background-color: #802231 !important;
}
i {
  margin-right: 5px !important;
}
i:hover {
  background-color: #a71d31 !important;
  color: white !important;
}
.iconCart,.iconHeart {
  color: white !important;
}
.iconCart:hover, .iconHeart:hover {
  color: #a71d31 !important;
}
